.verx{
   font size:25px;
   font-weight:550;
   text-align:right;
}
.text{
    
    position:absolute;
    font-size: 30px;
    top: 0;
    text-align: center;
    margin:25px;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body{
    font-family: 'Dancing Script', cursive;
}
.but{
    width: 100px;
    height: 70px;
}
.menu{
    width: 960px;
    margin: 0 auto;

}
menu::before{

    display:block;
    height: 50px;
    width: 100px;
    background-color: black;
}
.glav{
   
    background:#f5f5b8;
    padding: 10px;
    text-align: center;
    
}
.menu2{
    display:inline;
    align-items: center;
    margin: 15px 70px;
}
.naz{
    text-align:center;
}
.opis{
    text-align: center;
    font-size: 18px;
}
.yslygi{
    text-align: center;
    font size:15px;
}